<html>
<head>
  <title>Google Icons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div style="text-align:center">
  <h1>
    WelCome To CoStrategix
  </h1>
</div>
    <nav>
        <button routerLink="/admin">
          <i class="material-icons">&#xe8a6;</i> Admin
        </button>
        <button routerLink="/user">
          <i class="material-icons">&#xe55a;</i> User
        </button>
    </nav>
<router-outlet></router-outlet>
</body>
</html>